@import "../../node_modules/semantic-ui/dist/semantic.min.css";

//
//  Layout
//  Forms
//  Main content
//     Listing
//


//
//  Layout
//
.preload{
  opacity: 1;
}

//
//  Forms
//
fieldset{
  border: 0;
}

//
//  Main content
//

#app{
  padding: 60px 0 0 0;
}

.content{
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.hidden{
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

//
//    Listing
//

.card {
  button{
    background: 0;
    border: 0;
    color: inherit;
    padding: inherit;

    &:hover{
      .heart{
        color: #FF3000;
        text-shadow: 0 -1px 0 #CD0707, -1px 0 0;
      }
    }

    .heart{
      &.active{
        color: #FF6D75;
        text-shadow: 0 -1px 0 #AA0101, -1px 0 0;
      }
    }
  }
}
