@import "../../node_modules/semantic-ui/dist/semantic.min.css";

.preload{
  opacity: 1;
}

fieldset{
  border: 0;
}

.card {
  button{
    background: 0;
    border: 0;
    color: inherit;
    padding: inherit;

    &:hover{
      color: #f442aa;
    }
  }
}
